body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}


.hidden{ display: none; }


#searchBox {
    width: 90%;
    height: 25px;
    margin: 10px 4%;
    position: fixed;
    padding: 8px 0 6px 6px;
    background-color: #4387FD;
    border-bottom: 2px solid #303F9F;
}

#searchBox input{
	margin: 0;
	float: left;
	border: none;
	height: 1.4em;
	padding: 0 6px;
	font-size: 17px;
	background-color: transparent;
	width: 235px;
	color: #FFF;
}

*::-webkit-input-placeholder {
    color: #FFF;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #FFF;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #FFF;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #FFF;
}

@media (max-width: 280px){
	#searchBox input{ width: 70%; }
}

@media (min-width: 281px) and (max-width: 320px){
	#searchBox input{ width: 77%; }
}

@media (min-width: 321px) and (max-width: 400px){
	#searchBox input{ width: 80%; }
}

@media (min-width: 401px){
	#searchBox{
		width: 340px !important;
		margin: 10px 10px !important;
	}
}

#searchBox button{
	width: 50px;
	float: right;
	border: none;
	text-align: center;
	background-color: transparent;
  margin: 0;
  vertical-align: top;
  box-sizing: border-box;
  top: -9px;
  position: relative;
  height: 40px;
  padding-left: 0;
  padding-right: 1px;
  padding-bottom: 3px;
}

img.icon{
	width: 34px;
	height: 34px;
}

.menu-box {
  width: 40px;
  height: 37px;
  float: left;
  top: -7px;
  position: relative;
  left: -6px;
  background: url(../img/menu.png) no-repeat center;
}