body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 82.5%;
}

.shadow {
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

.hidden{ display: none; }

#searchBox {
    width: 90%;
    height: 25px;
    margin: 10px 4%;
    position: fixed;
    padding: 8px 0 6px 6px;
    background-color: #4285F4;
}



#searchBox input{
	margin: 0;
	float: left;
	border: none;
	height: 1.4em;
	padding: 0 6px;
	font-size: 17px;
	background: rgba(255,255,255,.15);
	width: 235px;
	color: #FFF;
}

*::-webkit-input-placeholder {
    color: #FFF;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #FFF;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #FFF;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #FFF;
}

@media (max-width: 280px){
	#searchBox input{ width: 50%; }
}

@media (min-width: 281px) and (max-width: 320px){
	#searchBox input{ width: 57%; }
}

@media (min-width: 321px) and (max-width: 400px){
	#searchBox input{ width: 60%; }
}

@media (min-width: 401px){
	#searchBox{
		width: 340px !important;
		margin: 10px 10px !important;
	}
}

#searchBox button{
	width: 50px;
	float: right;
	border: none;
	text-align: center;
	background-color: transparent;
  margin: 0;
  vertical-align: top;
  box-sizing: border-box;
  top: -9px;
  position: relative;
  height: 40px;
  padding-left: 0;
  padding-right: 1px;
  padding-bottom: 3px;
}

img.icon{
	width: 34px;
	height: 34px;
}

.menu-box {
  width: 40px;
  height: 37px;
  float: left;
  top: -7px;
  position: relative;
  left: -6px;
  background: url(../img/menu.png) no-repeat center;
  opacity: 0.6;
  cursor: pointer;
  -webkit-user-drag: none;
}

.openmenu {
  background: url(../img/back.png) no-repeat center;
  background-size: 20px;
}

.menu {
  bottom: 0;
  left: 0;
  overflow: visible;
  position: fixed;
  width: 232px;
  top: 56px;
  z-index: 4;
  -webkit-transform: translateX(-242px);
  transform: translateX(-242px);
  -webkit-transition: -webkit-transform .15s ease-in-out;
  transition: transform .15s ease-in-out;
  will-change: top,left;
}

.open {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.interna{
  background: #fff;
  bottom: 0;
  box-shadow: 0 0 4px rgba(0,0,0,.14),2px 4px 8px rgba(0,0,0,.28);
  color: #757575;
  line-height: 40px;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  white-space: nowrap;
  width: 232px;
  top: 0;
}

ul {
  border-bottom: 1px solid #e5e5e5;
  box-sizing: border-box;
  list-style: none;
  padding: 0 0 8px 0;
  position: relative;
}

.div-ck {
  overflow: hidden;
  position: relative;
  width: 28px;
  padding: 14px 22px;
}

.ck {
  height: 18px;
  margin: 12px;
  line-height: 0;
  width: 18px;
  -webkit-user-drag: none;
  background-size: 18px;
  display: block;
}

.ck.ckon {
  background-image: url(../img/check_box_on.png);
}

.ck.ckoff {
  background-image: url(../img/check_box_out.png);
}

.div-span {
  display: inline-block;
  padding-left: 5px;
  vertical-align: middle;
}

.linha {
  white-space: nowrap;
  position: relative;
  cursor: pointer;
  display: -webkit-flex;
  display: flex;
  background: #fff;
}

.ix {
  bottom: 0;
  box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  pointer-events: none;
}

.lu {
  background: #e5e5e5;
  height: 1px;
  left: 0;
  position: absolute;
  right: 0;
  top: -1px;
}

.lista li:hover {
  background: rgba(0,0,0,.03);
}

.lista li {
  cursor: pointer;
  font-weight: bold;
  display: -webkit-flex;
  display: flex;
  padding: 4px 0 4px 24px;
}